.navbar{
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
    height: 40pt;
    width: 100%;
    background: #195D7F;
    padding: 0;
}

.option{
    box-sizing: border-box;
    height: 40.5pt;
    width: 90pt;
    font-size: 16pt;
    font-weight: lighter;
    text-align: center;
    margin-top: 0;
    padding-top: 12pt;
    color: #FFF;
    float: left;
    -webkit-transition: all .25s linear;
}
.option:hover{background: #FFF; color: #195D7F}
.choice{
    background: #FFF;
    color: #195D7F;
    border-radius: 10pt 10pt 0 0;
    margin-top: 7pt;
    height: 33.5pt;
}

.center{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 720px;
    text-align: center;
    background: transparent;
}

.left{
    text-align: left;
    margin: 10pt;
}
.mid{
    text-align: center;
    margin: 5pt;
}
.fill{
    width: 100%;
}

.txt{
    color: #195D7F;
    margin: 10pt;
}

.title{font-size: 32pt}
.subtitle{font-size: 18pt;}
.paragraph{font-size: 12pt; text-indent: 32pt}

body{
    position:absolute;
    top: 40pt;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.view{
    left:0;
    right:0;
    margin: auto;
    color: #195D7F;
}
.view.ng-enter, .view.ng-leave {
    -webkit-transition:all .5s linear;
    transition:all .5s linear;
}
.view.ng-enter {opacity: 0;}
.view.ng-enter.ng-enter-active {opacity: 100;}
.view.ng-leave.ng-leave-active {opacity: 0;}

.view img{
    border: 1pt solid #c3c3c3;
    padding: 3pt;
    margin: 10pt;
    border-radius: 10pt;
    background: white;
    box-shadow: 2pt 2pt 6pt 0 rgba(0, 0, 0, .5);
}

img.icon {
    border: none;
    padding: 0;
    margin: 3pt;
    border-radius: 0;
    box-shadow: none;
}

.tile{
    border: 1pt solid #c3c3c3;
    padding: 3pt;
    margin: 10px;
    border-radius: 10pt;
    background: white;
    box-shadow: 2pt 2pt 6pt 0 rgba(0, 0, 0, .5);
    float: left;
    box-sizing: border-box;
    text-align: center;
    color: black;
    height: 220px;
    width: 220px;
}
.tile img{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
}

iframe{
    background: white;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
}

.file-tab{
    float: left;
    background: #195D7F;
    color: white;
    width: 100px;
    height: 24px;
    padding-top: 6px;
}
.file-tab.first{
    border-radius: 12px 0 0 12px;
}
.file-tab.last{
      border-radius: 0 12px 12px 0;
  }
.file-tab.first.last{
    border-radius: 12px;
}
.file-tab.selected{
    background: #5896a8;
}

#code{
    -webkit-transition: all 1s linear;
    border: 1px solid #195D7F;
    background: #195D7F;
    color: white;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 12px;
}
#code div{
    margin-bottom: 6px;
}

.view.ng-enter {opacity: 0;}
.view.ng-enter.ng-enter-active {opacity: 100;}
.view.ng-leave.ng-leave-active {opacity: 0;}


a{
    text-decoration: none;
}

.accordion{
    margin:0 auto;
    padding: 0 5px 5px 5px;
    border-radius: 5px;
    font-size:14px;
    width: 600px;
    background:#195D7F;;
}
.accordion ul {
    list-style:none;
    margin: 0;
    padding: 0;
}
.accordion li {
    margin: 0;
    padding: 0;
    background: #195D7F;
}
.accordion [type=radio]{display:none;}
.accordion label {
    display:block;
    font-size:16px;
    line-height:16px;
    background: #195D7F;
    color:white;
    font-weight:700;
    cursor:pointer;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label{
    background:#195D7F;
    color:#FFF;
}
.accordion .content {
    overflow:hidden;
    background: white;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.accordion p {
    color:#333;
    margin:5px;
    white-space: pre-wrap;
}

ul li {
    overflow:hidden;
    margin:0;
}
ul li label{padding:10px;}
[type=radio]:checked ~ label{border-bottom:0;}
ul li .content {
    height:0px;
    border-top:0;
}
[type=radio]:checked ~ label ~ .content{height:350px;}