.navbar{
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
    height: 40pt;
    width: 100%;
    background: #ffffff;
    padding: 0;
}

.option{
    box-sizing: border-box;
    height: 40pt;
    width: 90pt;
    font-size: 16pt;
    font-weight: lighter;
    text-align: center;
    margin-top: 0;
    padding-top: 12pt;
    color: #363f4d;
    float: left;
    -webkit-transition: all .25s linear;
}
.option:hover{background: #4d6b99; color: white}
.choice{
    background: #4d6b99;
    color: white;
    border-radius: 10pt 10pt 0 0;
    margin-top: 7pt;
    height: 33pt;
}

.center{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 720px;
    text-align: center;
    background: transparent;
}

.left{
    text-align: left;
    margin: 10pt;
}
.mid{
    text-align: center;
    margin: 5pt;
}
.fill{
    width: 100%;
}

.title{font-size: 32pt}
.subtitle{font-size: 18pt;}
.paragraph{font-size: 12pt; text-indent: 32pt}

body{
    position:absolute;
    top: 40pt;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #4d6b99;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.view{
    left:0;
    right:0;
    margin: auto;
    color: white;
}
.view.ng-enter, .view.ng-leave {
    -webkit-transition:all .5s linear;
    transition:all .5s linear;
}
.view.ng-enter {opacity: 0;}
.view.ng-enter.ng-enter-active {opacity: 100;}
.view.ng-leave.ng-leave-active {opacity: 0;}

.view img{
    border: 1pt solid #c3c3c3;
    padding: 3pt;
    margin: 10pt;
    border-radius: 10pt;
    background: white;
    box-shadow: 2pt 2pt 6pt 0 rgba(0, 0, 0, .5);
}

.tile{
    float: left;
    box-sizing: border-box;
    padding: 5pt;
    text-align: center;
    color: black;
    height: 220px;
    width: 220px;
    margin: 10px;
    background: white;
    box-shadow: 3pt 3pt 6pt 0 rgba(0, 0, 0, .6);
}
.tile img{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
}

.view.ng-enter {opacity: 0;}
.view.ng-enter.ng-enter-active {opacity: 100;}
.view.ng-leave.ng-leave-active {opacity: 0;}


a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 0;
}