<!DOCTYPE html>
<html>
<head>
    <title>James Hoekzema</title>
    <link href="css/page.css" rel="stylesheet">
</head>
<body ng-app="app">
<div class="navbar" ng-controller="navbar">
    <div ng-repeat="opt in menu">
        <a ng-click="link(opt.link)"><div class="option" ng-class="{bold: opt.link == loc}">{{opt.name}}</div></a>
    </div>
</div>
<ng-view class="view"></ng-view>
<script src="js/angular.min.js"></script>
<script src="js/angular.route.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/app.js"></script>
<script src="js/fetch.js"></script>
<script src="js/navbar.js"></script>
<script src="js/home.js"></script>
</body>
</html>